* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9eec6;
}

nav {
    max-width: fit-content;
    margin: auto;
}

li {
    text-align: left;
}

ul, ol, h2, .container, li {
    background-color: #C6D1F9 ;
}

h1 {
    font-family:Georgia, 'Times New Roman', serif;
    font-style: italic;
    font-size: 42px;
}

.intro, nav {
    font-size: 18px;
}

.container {
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.menu {
    background-color: #f9eec6;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.home {
    padding: 10px;
    border-radius: 10px;
    background-color: #f9eec6;
}
